#art-main
{
  background: #FFFFFF;
  margin: 0 auto;
  font-size: 14px;
  font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
  font-weight: normal;
  font-style: normal;
  position: relative;
  width: 100%;
  min-height: 100%;
  left: 0;
  top: 0;
  cursor: default;
  overflow: hidden;
}

table, ul.art-hmenu
{
  font-size: 14px;
  font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
  font-weight: normal;
  font-style: normal;
}

h1, h2, h3, h4, h5, h6, p, a, ul, ol, li
{
  margin: 0;
  padding: 0;
}

.art-button
{
  border: 0;
  border-collapse: separate;
  -webkit-background-origin: border !important;
  -moz-background-origin: border !important;
  background-origin: border-box !important;
  background: #46BBD2;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  padding: 0 21px;
  margin: 0 auto;
  height: 26px;
}

.art-postcontent, .art-postheadericons, .art-postfootericons, .art-blockcontent, ul.art-vmenu a
{
  text-align: left;
}

.art-postcontent, .art-postcontent li, .art-postcontent table, .art-postcontent a, .art-postcontent a:link, .art-postcontent a:visited, .art-postcontent a.visited, .art-postcontent a:hover, .art-postcontent a.hovered
{
  font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
  line-height: 175%;
}

.art-postcontent p
{
  margin: 13px 0;
}

.art-postcontent h1, .art-postcontent h1 a, .art-postcontent h1 a:link, .art-postcontent h1 a:visited, .art-postcontent h1 a:hover, .art-postcontent h2, .art-postcontent h2 a, .art-postcontent h2 a:link, .art-postcontent h2 a:visited, .art-postcontent h2 a:hover, .art-postcontent h3, .art-postcontent h3 a, .art-postcontent h3 a:link, .art-postcontent h3 a:visited, .art-postcontent h3 a:hover, .art-postcontent h4, .art-postcontent h4 a, .art-postcontent h4 a:link, .art-postcontent h4 a:visited, .art-postcontent h4 a:hover, .art-postcontent h5, .art-postcontent h5 a, .art-postcontent h5 a:link, .art-postcontent h5 a:visited, .art-postcontent h5 a:hover, .art-postcontent h6, .art-postcontent h6 a, .art-postcontent h6 a:link, .art-postcontent h6 a:visited, .art-postcontent h6 a:hover, .art-blockheader .t, .art-blockheader .t a, .art-blockheader .t a:link, .art-blockheader .t a:visited, .art-blockheader .t a:hover, .art-vmenublockheader .t, .art-vmenublockheader .t a, .art-vmenublockheader .t a:link, .art-vmenublockheader .t a:visited, .art-vmenublockheader .t a:hover, .art-headline, .art-headline a, .art-headline a:link, .art-headline a:visited, .art-headline a:hover, .art-slogan, .art-slogan a, .art-slogan a:link, .art-slogan a:visited, .art-slogan a:hover, .art-postheader, .art-postheader a, .art-postheader a:link, .art-postheader a:visited, .art-postheader a:hover
{
  font-size: 24px;
  font-family: Quicksand, Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
  font-weight: normal;
  font-style: normal;
  line-height: 120%;
}

.art-postcontent a, .art-postcontent a:link
{
  font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
  text-decoration: none;
  color: #32B3CD;
}

.art-postcontent a:visited, .art-postcontent a.visited
{
  font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
  text-decoration: none;
  color: #526C6F;
}

.art-postcontent  a:hover, .art-postcontent a.hover
{
  font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
  text-decoration: underline;
  color: #32B3CD;
}

.art-postcontent h1
{
  color: #32B3CD;
  margin: 10px 0 0;
  font-size: 29px;
  font-family: Quicksand, Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
  font-weight: bold;
  font-style: normal;
}

.art-blockcontent h1
{
  margin: 10px 0 0;
  font-size: 29px;
  font-family: Quicksand, Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
  font-weight: bold;
  font-style: normal;
}

.art-postcontent h1 a, .art-postcontent h1 a:link, .art-postcontent h1 a:hover, .art-postcontent h1 a:visited, .art-blockcontent h1 a, .art-blockcontent h1 a:link, .art-blockcontent h1 a:hover, .art-blockcontent h1 a:visited
{
  font-size: 29px;
  font-family: Quicksand, Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
  font-weight: bold;
  font-style: normal;
}

.art-postcontent h2
{
  color: #32B3CD;
  margin: 10px 0 0;
  font-size: 24px;
  font-family: Quicksand, Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
  font-weight: bold;
  font-style: normal;
}

.art-blockcontent h2
{
  margin: 10px 0 0;
  font-size: 24px;
  font-family: Quicksand, Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
  font-weight: bold;
  font-style: normal;
}

.art-postcontent h2 a, .art-postcontent h2 a:link, .art-postcontent h2 a:hover, .art-postcontent h2 a:visited, .art-blockcontent h2 a, .art-blockcontent h2 a:link, .art-blockcontent h2 a:hover, .art-blockcontent h2 a:visited
{
  font-size: 24px;
  font-family: Quicksand, Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
  font-weight: bold;
  font-style: normal;
}

.art-postcontent h3
{
  color: #32B3CD;
  margin: 10px 0 0;
  font-size: 22px;
  font-family: Quicksand, Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
  font-weight: bold;
  font-style: normal;
}

.art-blockcontent h3
{
  margin: 10px 0 0;
  font-size: 22px;
  font-family: Quicksand, Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
  font-weight: bold;
  font-style: normal;
}

.art-postcontent h3 a, .art-postcontent h3 a:link, .art-postcontent h3 a:hover, .art-postcontent h3 a:visited, .art-blockcontent h3 a, .art-blockcontent h3 a:link, .art-blockcontent h3 a:hover, .art-blockcontent h3 a:visited
{
  font-size: 22px;
  font-family: Quicksand, Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
  font-weight: bold;
  font-style: normal;
}

.art-postcontent h4
{
  color: #232D2F;
  margin: 10px 0 0;
  font-size: 20px;
  font-family: Quicksand, Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
  font-weight: bold;
  font-style: normal;
}

.art-blockcontent h4
{
  margin: 10px 0 0;
  font-size: 20px;
  font-family: Quicksand, Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
  font-weight: bold;
  font-style: normal;
}

.art-postcontent h4 a, .art-postcontent h4 a:link, .art-postcontent h4 a:hover, .art-postcontent h4 a:visited, .art-blockcontent h4 a, .art-blockcontent h4 a:link, .art-blockcontent h4 a:hover, .art-blockcontent h4 a:visited
{
  font-size: 20px;
  font-family: Quicksand, Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
  font-weight: bold;
  font-style: normal;
}

.art-postcontent h5
{
  color: #232D2F;
  margin: 10px 0 0;
  font-size: 17px;
  font-family: Quicksand, Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
  font-weight: bold;
  font-style: normal;
}

.art-blockcontent h5
{
  margin: 10px 0 0;
  font-size: 17px;
  font-family: Quicksand, Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
  font-weight: bold;
  font-style: normal;
}

.art-postcontent h5 a, .art-postcontent h5 a:link, .art-postcontent h5 a:hover, .art-postcontent h5 a:visited, .art-blockcontent h5 a, .art-blockcontent h5 a:link, .art-blockcontent h5 a:hover, .art-blockcontent h5 a:visited
{
  font-size: 17px;
  font-family: Quicksand, Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
  font-weight: bold;
  font-style: normal;
}

.art-postcontent h6
{
  color: #526C6F;
  margin: 10px 0 0;
  font-size: 14px;
  font-family: Quicksand, Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
  font-weight: bold;
  font-style: normal;
}

.art-blockcontent h6
{
  margin: 10px 0 0;
  font-size: 14px;
  font-family: Quicksand, Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
  font-weight: bold;
  font-style: normal;
}

.art-postcontent h6 a, .art-postcontent h6 a:link, .art-postcontent h6 a:hover, .art-postcontent h6 a:visited, .art-blockcontent h6 a, .art-blockcontent h6 a:link, .art-blockcontent h6 a:hover, .art-blockcontent h6 a:visited
{
  font-size: 14px;
  font-family: Quicksand, Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
  font-weight: bold;
  font-style: normal;
}

header, footer, article, nav, #art-hmenu-bg, .art-sheet, .art-hmenu a, .art-vmenu a, .art-slidenavigator > a, .art-checkbox:before, .art-radiobutton:before
{
  -webkit-background-origin: border !important;
  -moz-background-origin: border !important;
  background-origin: border-box !important;
}

header, footer, article, nav, #art-hmenu-bg, .art-sheet, .art-slidenavigator > a, .art-checkbox:before, .art-radiobutton:before
{
  display: block;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

ul
{
  list-style-type: none;
}

ol
{
  list-style-position: inside;
}

html, body
{
  height: 100%;
}

body
{
  padding: 0;
  margin: 0;
  min-width: 1000px;
  color: #364749;
}

.clearfix:before, .clearfix:after
{
  content: "";
  display: table;
}

.clearfix:after
{
  clear: both;
}

.cleared
{
  font: 0/0 serif;
  clear: both;
}

form
{
  padding: 0 !important;
  margin: 0 !important;
}

table.position
{
  position: relative;
  width: 100%;
  table-layout: fixed;
}

li h1, .art-postcontent li h1, .art-blockcontent li h1
{
  margin: 1px;
}

li h2, .art-postcontent li h2, .art-blockcontent li h2
{
  margin: 1px;
}

li h3, .art-postcontent li h3, .art-blockcontent li h3
{
  margin: 1px;
}

li h4, .art-postcontent li h4, .art-blockcontent li h4
{
  margin: 1px;
}

li h5, .art-postcontent li h5, .art-blockcontent li h5
{
  margin: 1px;
}

li h6, .art-postcontent li h6, .art-blockcontent li h6
{
  margin: 1px;
}

li p, .art-postcontent li p, .art-blockcontent li p
{
  margin: 1px;
}

.art-shapes
{
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  z-index: 0;
}

.art-slider-inner
{
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.art-slidenavigator > a
{
  display: inline-block;
  vertical-align: middle;
  outline-style: none;
  font-size: 1px;
}

.art-slidenavigator > a:last-child
{
  margin-right: 0 !important;
}

.art-object1558411554
{
  display: block;
  left: 0.51%;
  margin-left: 0px;
  position: absolute;
  top: 14px;
  width: 125px;
  height: 151px;
  background-image: url('../images/object1558411554.png');
  background-position: 0 0;
  background-repeat: no-repeat;
  z-index: 0;
}

.art-object1157589740
{
  display: block;
  left: 93.28%;
  margin-left: -85px;
  position: absolute;
  top: 20px;
  width: 92px;
  height: 110px;
  background-image: url('../images/object1157589740.png');
  background-position: 0 0;
  background-repeat: no-repeat;
  z-index: 3;
}

.art-object1926315067
{
  display: block;
  left: 97.7%;
  margin-left: -169px;
  position: absolute;
  top: 104px;
  width: 174px;
  height: 85px;
  background-image: url('../images/object1926315067.png');
  background-position: 0 0;
  background-repeat: no-repeat;
  z-index: 5;
}

.art-object1431483018
{
  display: block;
  left: 20.4%;
  margin-left: -102px;
  position: absolute;
  top: 24px;
  width: 500px;
  height: 171px;
  background-image: url('../images/object1431483018.png');
  background-position: 0 0;
  background-repeat: no-repeat;
  z-index: 6;
}

.art-header
{
  margin: 0 auto;
  position: relative;
  height: 250px;
  background-image: url('../images/header.jpg');
  background-position: center top;
  background-repeat: no-repeat;
}

.responsive .art-header
{
  background-image: url('../images/header.jpg');
  background-position: center center;
}

.art-header-inner
{
  position: relative;
  width: 1000px;
  z-index: auto !important;
  margin: 0 auto;
}

.art-header>div.art-nostyle, .art-header>div.art-block, .art-header>div.art-post
{
  position: absolute;
  z-index: 101;
}

.art-nav
{
  background: #FFFFFF;
  background: linear-gradient(top, #FFFFFF 0, #EBEBEB 50%, #CFCFCF 50%, #E0E0E0 100%) no-repeat;
  background: -webkit-linear-gradient(top, #FFFFFF 0, #EBEBEB 50%, #CFCFCF 50%, #E0E0E0 100%) no-repeat;
  background: -moz-linear-gradient(top, #FFFFFF 0, #EBEBEB 50%, #CFCFCF 50%, #E0E0E0 100%) no-repeat;
  background: -o-linear-gradient(top, #FFFFFF 0, #EBEBEB 50%, #CFCFCF 50%, #E0E0E0 100%) no-repeat;
  background: -ms-linear-gradient(top, #FFFFFF 0, #EBEBEB 50%, #CFCFCF 50%, #E0E0E0 100%) no-repeat;
  background: linear-gradient(top, #FFFFFF 0, #EBEBEB 50%, #CFCFCF 50%, #E0E0E0 100%) no-repeat;
  -svg-background: linear-gradient(top, #FFFFFF 0, #EBEBEB 50%, #CFCFCF 50%, #E0E0E0 100%) no-repeat;
  padding: 3px;
  z-index: 100;
  font-size: 0;
  position: absolute;
  margin: 0;
  bottom: 0;
  width: 100%;
}

ul.art-hmenu a, ul.art-hmenu a:link, ul.art-hmenu a:visited, ul.art-hmenu a:hover
{
  outline: none;
  position: relative;
  z-index: 11;
}

ul.art-hmenu, ul.art-hmenu ul
{
  display: block;
  margin: 0;
  padding: 0;
  border: 0;
  list-style-type: none;
}

ul.art-hmenu li
{
  position: relative;
  z-index: 5;
  display: block;
  float: left;
  background: none;
  margin: 0;
  padding: 0;
  border: 0;
}

ul.art-hmenu li:hover
{
  z-index: 10000;
  white-space: normal;
}

ul.art-hmenu:after, ul.art-hmenu ul:after
{
  content: ".";
  height: 0;
  display: block;
  visibility: hidden;
  overflow: hidden;
  clear: both;
}

ul.art-hmenu, ul.art-hmenu ul
{
  min-height: 0;
}

ul.art-hmenu
{
  display: inline-block;
  vertical-align: middle;
  padding-left: 5px;
  padding-right: 5px;
}

.art-nav-inner:before
{
  content: ' ';
}

.art-nav-inner
{
  text-align: left;
  margin: 0 auto;
}

.desktop-nav .art-nav-inner
{
  width: 1000px;
  padding-left: 5px;
  padding-right: 5px;
}

.desktop-nav.art-nav
{
  padding-left: 0;
  padding-right: 0;
}

.art-hmenu-extra1
{
  position: relative;
  display: block;
  float: left;
  width: auto;
  height: auto;
  background-position: center;
}

.art-hmenu-extra2
{
  position: relative;
  display: block;
  float: right;
  width: auto;
  height: auto;
  background-position: center;
}

.art-hmenu
{
  float: left;
}

.art-menuitemcontainer
{
  margin: 0 auto;
}

ul.art-hmenu>li
{
  margin-left: 0;
}

ul.art-hmenu>li:first-child
{
  margin-left: 0;
}

ul.art-hmenu>li:last-child, ul.art-hmenu>li.last-child
{
  margin-right: 0;
}

ul.art-hmenu>li>a
{
  padding: 0 22px;
  margin: 0 auto;
  position: relative;
  display: block;
  height: 44px;
  cursor: pointer;
  text-decoration: none;
  color: #344B4A;
  line-height: 44px;
  text-align: center;
}

.art-hmenu a, .art-hmenu a:link, .art-hmenu a:visited, .art-hmenu a.active, .art-hmenu a:hover
{
  font-size: 14px;
  font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
  font-weight: normal;
  font-style: normal;
  text-decoration: none;
  text-transform: uppercase;
  text-align: left;
}

ul.art-hmenu>li>a.active
{
  background: #09BDDC;
  background: linear-gradient(top, rgba(44, 216, 246, 0.6) 0, rgba(10, 210, 245, 0.6) 44%, rgba(10, 205, 240, 0.6) 50%, rgba(8, 159, 186, 0.6) 50%, rgba(9, 189, 220, 0.6) 100%) no-repeat;
  background: -webkit-linear-gradient(top, rgba(44, 216, 246, 0.6) 0, rgba(10, 210, 245, 0.6) 44%, rgba(10, 205, 240, 0.6) 50%, rgba(8, 159, 186, 0.6) 50%, rgba(9, 189, 220, 0.6) 100%) no-repeat;
  background: -moz-linear-gradient(top, rgba(44, 216, 246, 0.6) 0, rgba(10, 210, 245, 0.6) 44%, rgba(10, 205, 240, 0.6) 50%, rgba(8, 159, 186, 0.6) 50%, rgba(9, 189, 220, 0.6) 100%) no-repeat;
  background: -o-linear-gradient(top, rgba(44, 216, 246, 0.6) 0, rgba(10, 210, 245, 0.6) 44%, rgba(10, 205, 240, 0.6) 50%, rgba(8, 159, 186, 0.6) 50%, rgba(9, 189, 220, 0.6) 100%) no-repeat;
  background: -ms-linear-gradient(top, rgba(44, 216, 246, 0.6) 0, rgba(10, 210, 245, 0.6) 44%, rgba(10, 205, 240, 0.6) 50%, rgba(8, 159, 186, 0.6) 50%, rgba(9, 189, 220, 0.6) 100%) no-repeat;
  background: linear-gradient(top, rgba(44, 216, 246, 0.6) 0, rgba(10, 210, 245, 0.6) 44%, rgba(10, 205, 240, 0.6) 50%, rgba(8, 159, 186, 0.6) 50%, rgba(9, 189, 220, 0.6) 100%) no-repeat;
  -svg-background: linear-gradient(top, rgba(44, 216, 246, 0.6) 0, rgba(10, 210, 245, 0.6) 44%, rgba(10, 205, 240, 0.6) 50%, rgba(8, 159, 186, 0.6) 50%, rgba(9, 189, 220, 0.6) 100%) no-repeat;
  padding: 0 22px;
  margin: 0 auto;
  color: #FFFFFF;
  text-decoration: none;
}

ul.art-hmenu>li>a:visited, ul.art-hmenu>li>a:hover, ul.art-hmenu>li:hover>a
{
  text-decoration: none;
}

ul.art-hmenu>li>a:hover, .desktop ul.art-hmenu>li:hover>a
{
  background: #FFFFFF;
  background: linear-gradient(top, rgba(255, 255, 255, 0.6) 0, rgba(235, 235, 235, 0.6) 50%, rgba(207, 207, 207, 0.6) 50%, rgba(224, 224, 224, 0.6) 100%) no-repeat;
  background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.6) 0, rgba(235, 235, 235, 0.6) 50%, rgba(207, 207, 207, 0.6) 50%, rgba(224, 224, 224, 0.6) 100%) no-repeat;
  background: -moz-linear-gradient(top, rgba(255, 255, 255, 0.6) 0, rgba(235, 235, 235, 0.6) 50%, rgba(207, 207, 207, 0.6) 50%, rgba(224, 224, 224, 0.6) 100%) no-repeat;
  background: -o-linear-gradient(top, rgba(255, 255, 255, 0.6) 0, rgba(235, 235, 235, 0.6) 50%, rgba(207, 207, 207, 0.6) 50%, rgba(224, 224, 224, 0.6) 100%) no-repeat;
  background: -ms-linear-gradient(top, rgba(255, 255, 255, 0.6) 0, rgba(235, 235, 235, 0.6) 50%, rgba(207, 207, 207, 0.6) 50%, rgba(224, 224, 224, 0.6) 100%) no-repeat;
  background: linear-gradient(top, rgba(255, 255, 255, 0.6) 0, rgba(235, 235, 235, 0.6) 50%, rgba(207, 207, 207, 0.6) 50%, rgba(224, 224, 224, 0.6) 100%) no-repeat;
  -svg-background: linear-gradient(top, rgba(255, 255, 255, 0.6) 0, rgba(235, 235, 235, 0.6) 50%, rgba(207, 207, 207, 0.6) 50%, rgba(224, 224, 224, 0.6) 100%) no-repeat;
  padding: 0 22px;
  margin: 0 auto;
}

ul.art-hmenu>li>a:hover, .desktop-nav ul.art-hmenu>li:hover>a
{
  color: #09BDDC;
  text-decoration: none;
}

ul.art-hmenu li li a
{
  background: #C1CFD1;
  background: transparent;
  padding: 0 8px;
  margin: 0 auto;
}

ul.art-hmenu li li
{
  float: none;
  width: auto;
  margin-top: 0;
  margin-bottom: 0;
}

.desktop-nav ul.art-hmenu li li ul>li:first-child
{
  margin-top: 0;
}

ul.art-hmenu li li ul>li:last-child
{
  margin-bottom: 0;
}

.art-hmenu ul a
{
  display: block;
  white-space: nowrap;
  height: 26px;
  min-width: 7em;
  border: 0 solid transparent;
  text-align: left;
  line-height: 26px;
  color: #2E4241;
  font-size: 14px;
  font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
  text-decoration: none;
  margin: 0;
}

.art-hmenu ul a:link, .art-hmenu ul a:visited, .art-hmenu ul a.active, .art-hmenu ul a:hover
{
  text-align: left;
  line-height: 26px;
  color: #2E4241;
  font-size: 14px;
  font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
  text-decoration: none;
  margin: 0;
}

ul.art-hmenu ul li a:hover, .desktop ul.art-hmenu ul li:hover>a
{
  background: #9EB4B7;
  margin: 0 auto;
}

.art-hmenu ul a:hover
{
  text-decoration: none;
}

.art-hmenu ul li a:hover
{
  color: #000000;
}

.desktop-nav .art-hmenu ul li:hover>a
{
  color: #000000;
}

ul.art-hmenu ul:before
{
  background: #EDF1F2;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  border: 1px solid #7B999D;
  margin: 0 auto;
  display: block;
  position: absolute;
  content: ' ';
  z-index: 1;
}

.desktop-nav ul.art-hmenu li:hover>ul
{
  visibility: visible;
  top: 100%;
}

.desktop-nav ul.art-hmenu li li:hover>ul
{
  top: 0;
  left: 100%;
}

ul.art-hmenu ul
{
  visibility: hidden;
  position: absolute;
  z-index: 10;
  left: 0;
  top: 0;
  background-image: url('../images/spacer.gif');
}

.desktop-nav ul.art-hmenu>li>ul
{
  padding: 15px 35px 35px 35px;
  margin: -10px 0 0 -30px;
}

.desktop-nav ul.art-hmenu ul ul
{
  padding: 35px 35px 35px 17px;
  margin: -35px 0 0 -6px;
}

.desktop-nav ul.art-hmenu ul.art-hmenu-left-to-right
{
  right: auto;
  left: 0;
  margin: -10px 0 0 -30px;
}

.desktop-nav ul.art-hmenu ul.art-hmenu-right-to-left
{
  left: auto;
  right: 0;
  margin: -10px -30px 0 0;
}

.desktop-nav ul.art-hmenu li li:hover>ul.art-hmenu-left-to-right
{
  right: auto;
  left: 100%;
}

.desktop-nav ul.art-hmenu li li:hover>ul.art-hmenu-right-to-left
{
  left: auto;
  right: 100%;
}

.desktop-nav ul.art-hmenu ul ul.art-hmenu-left-to-right
{
  right: auto;
  left: 0;
  padding: 35px 35px 35px 17px;
  margin: -35px 0 0 -6px;
}

.desktop-nav ul.art-hmenu ul ul.art-hmenu-right-to-left
{
  left: auto;
  right: 0;
  padding: 35px 17px 35px 35px;
  margin: -35px -6px 0 0;
}

.desktop-nav ul.art-hmenu li ul>li:first-child
{
  margin-top: 0;
}

.desktop-nav ul.art-hmenu li ul>li:last-child
{
  margin-bottom: 0;
}

.desktop-nav ul.art-hmenu ul ul:before
{
  border-radius: 10px;
  top: 30px;
  bottom: 30px;
  right: 30px;
  left: 12px;
}

.desktop-nav ul.art-hmenu>li>ul:before
{
  top: 10px;
  right: 30px;
  bottom: 30px;
  left: 30px;
}

.desktop-nav ul.art-hmenu>li>ul.art-hmenu-left-to-right:before
{
  right: 30px;
  left: 30px;
}

.desktop-nav ul.art-hmenu>li>ul.art-hmenu-right-to-left:before
{
  right: 30px;
  left: 30px;
}

.desktop-nav ul.art-hmenu ul ul.art-hmenu-left-to-right:before
{
  right: 30px;
  left: 12px;
}

.desktop-nav ul.art-hmenu ul ul.art-hmenu-right-to-left:before
{
  right: 12px;
  left: 30px;
}

.desktop-nav ul.art-hmenu>li.ext>a
{
  white-space: nowrap;
}

.desktop-nav ul.art-hmenu>li.ext>a:hover, .desktop-nav ul.art-hmenu>li.ext:hover>a, .desktop-nav ul.art-hmenu>li.ext:hover>a.active
{
  background: none;
  padding: 0 22px 0 22px;
  margin: -0 -0 0 -0;
  overflow: hidden;
  position: relative;
  border: none;
  border-radius: 0;
  box-shadow: none;
  color: #4D6F6E;
}

.desktop-nav ul.art-hmenu>li.ext>a:hover:before, .desktop-nav ul.art-hmenu>li.ext:hover>a:before, .desktop-nav ul.art-hmenu>li.ext:hover>a.active:before
{
  position: absolute;
  content: ' ';
  top: 0;
  right: 0;
  left: 0;
  bottom: -1px;
  background-color: #EDF1F2;
  border: 1px Solid #7B999D;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  box-shadow: 0 0 0 rgba(0, 0, 0, 0.8);
  z-index: -1;
}

.desktop-nav ul.art-hmenu>li.ext:hover>ul
{
  padding-top: 4px;
  margin-top: 0;
}

.desktop-nav ul.art-hmenu>li.ext:hover>ul:before
{
  top: -1px;
  clip: rect(12px, auto, auto, auto);
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  box-shadow: 0 0 0 rgba(0, 0, 0, 0.8);
}

ul.art-hmenu>li.ext>.ext-r, ul.art-hmenu>li.ext>.ext-l, ul.art-hmenu>li.ext>.ext-m, ul.art-hmenu>li.ext>.ext-off
{
  display: none;
  z-index: 12;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.desktop-nav ul.art-hmenu>li.ext>ul
{
  z-index: 13;
}

.desktop-nav ul.art-hmenu>li.ext.ext-r:hover>.ext-r, .desktop-nav ul.art-hmenu>li.ext.ext-l:hover>.ext-l
{
  position: absolute;
  display: block;
  overflow: hidden;
  height: 12px;
  top: 100%;
  padding-top: 1px;
  margin-top: -1px;
}

.desktop-nav ul.art-hmenu>li.ext:hover>.ext-r:before, .desktop-nav ul.art-hmenu>li.ext:hover>.ext-l:before
{
  position: absolute;
  content: ' ';
  top: 0;
  bottom: -1px;
  background-color: #EDF1F2;
  border: 1px Solid #7B999D;
  box-shadow: 0 0 0 rgba(0, 0, 0, 0.8);
}

.desktop-nav ul.art-hmenu>li.ext.ext-r:hover>.ext-r
{
  left: 100%;
  right: auto;
  padding-left: 0;
  margin-left: 0;
  padding-right: 1px;
  margin-right: -1px;
}

.desktop-nav ul.art-hmenu>li.ext.ext-r:hover>.ext-r:before
{
  right: 0;
  left: -1px;
  border-top-left-radius: 0;
  border-top-right-radius: 10px;
}

.desktop-nav ul.art-hmenu>li.ext.ext-l:hover>.ext-l
{
  right: 100%;
  left: auto;
  padding-right: 0;
  margin-right: 0;
  padding-left: 1px;
  margin-left: -1px;
}

.desktop-nav ul.art-hmenu>li.ext.ext-l:hover>.ext-l:before
{
  right: -1px;
  left: 0;
  border-top-right-radius: 0;
  border-top-left-radius: 10px;
}

.desktop-nav ul.art-hmenu>li.ext:hover>.ext-m, .desktop-nav ul.art-hmenu>li.ext:hover>.ext-off
{
  position: absolute;
  display: block;
  overflow: hidden;
  height: 11px;
  top: 100%;
}

.desktop-nav ul.art-hmenu>li.ext.ext-r:hover>.ext-m
{
  left: -0;
  right: 0;
  padding-right: 0;
  padding-left: 0;
}

.desktop-nav ul.art-hmenu>li.ext:hover>.ext-off
{
  left: -0;
  right: -0;
  padding-left: 0;
  padding-right: 0;
}

.desktop-nav ul.art-hmenu>li.ext.ext-l:hover>.ext-m
{
  right: -0;
  left: 0;
  padding-left: 0;
  padding-right: 0;
}

.desktop-nav ul.art-hmenu>li.ext.ext-l.ext-r:hover>.ext-m
{
  right: -0;
  left: -0;
  padding-left: 0;
  padding-right: 0;
}

.desktop-nav ul.art-hmenu>li.ext:hover>.ext-m:before, .desktop-nav ul.art-hmenu>li.ext:hover>.ext-off:before
{
  position: absolute;
  content: ' ';
  top: -1px;
  bottom: -1px;
  background-color: #EDF1F2;
  border: 1px Solid #7B999D;
  box-shadow: 0 0 0 rgba(0, 0, 0, 0.8);
}

.desktop-nav ul.art-hmenu>li.ext.ext-r:hover>.ext-m:before
{
  right: -1px;
  left: 0;
}

.desktop-nav ul.art-hmenu>li.ext.ext-l:hover>.ext-m:before
{
  left: -1px;
  right: 0;
}

.desktop-nav ul.art-hmenu>li.ext.ext-l.ext-r:hover>.ext-m:before
{
  left: -1px;
  right: -1px;
}

.art-sheet
{
  padding: 2px;
  margin: 0 auto;
  position: relative;
  cursor: auto;
  width: 1000px;
  z-index: auto !important;
}

.art-layout-wrapper
{
  position: relative;
  margin: 0 auto 0 auto;
  z-index: auto !important;
}

.art-content-layout
{
  display: table;
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
}

.art-content-layout-row
{
  display: table-row;
}

.art-layout-cell
{
  display: table-cell;
  vertical-align: top;
}

.art-block
{
  background: #EDF1F2;
  background: rgba(237, 241, 242, 0.2);
  border: 1px solid rgba(193, 207, 209, 0.2);
  padding: 7px;
  margin: 3px;
}

div.art-block img
{
  border: none;
  margin: 0;
}

.art-blockheader
{
  background: #46BBD2;
  background: linear-gradient(top, #8CD5E3 0, #5FC4D8 50%, #32B3CD 50%, #2DA1B9 50%, #32B3CD 73%, #4ABCD3 100%) no-repeat;
  background: -webkit-linear-gradient(top, #8CD5E3 0, #5FC4D8 50%, #32B3CD 50%, #2DA1B9 50%, #32B3CD 73%, #4ABCD3 100%) no-repeat;
  background: -moz-linear-gradient(top, #8CD5E3 0, #5FC4D8 50%, #32B3CD 50%, #2DA1B9 50%, #32B3CD 73%, #4ABCD3 100%) no-repeat;
  background: -o-linear-gradient(top, #8CD5E3 0, #5FC4D8 50%, #32B3CD 50%, #2DA1B9 50%, #32B3CD 73%, #4ABCD3 100%) no-repeat;
  background: -ms-linear-gradient(top, #8CD5E3 0, #5FC4D8 50%, #32B3CD 50%, #2DA1B9 50%, #32B3CD 73%, #4ABCD3 100%) no-repeat;
  background: linear-gradient(top, #8CD5E3 0, #5FC4D8 50%, #32B3CD 50%, #2DA1B9 50%, #32B3CD 73%, #4ABCD3 100%) no-repeat;
  -svg-background: linear-gradient(top, #8CD5E3 0, #5FC4D8 50%, #32B3CD 50%, #2DA1B9 50%, #32B3CD 73%, #4ABCD3 100%) no-repeat;
  padding: 6px 3px;
  margin: 0 auto 2px;
}

.art-blockheader .t, .art-blockheader .t a, .art-blockheader .t a:link, .art-blockheader .t a:visited, .art-blockheader .t a:hover
{
  color: #000000;
  font-size: 26px;
  font-family: Quicksand, Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
  font-weight: normal;
  font-style: normal;
  margin: 0 5px;
}

.art-blockcontent
{
  padding: 3px;
  margin: 0 auto;
  color: #344446;
  font-size: 14px;
  font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
  line-height: 175%;
}

.art-blockcontent table, .art-blockcontent li, .art-blockcontent a, .art-blockcontent a:link, .art-blockcontent a:visited, .art-blockcontent a:hover
{
  color: #344446;
  font-size: 14px;
  font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
  line-height: 175%;
}

.art-blockcontent p
{
  margin: 0 5px;
}

.art-blockcontent a, .art-blockcontent a:link
{
  color: #31B0C9;
  font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
}

.art-blockcontent a:visited, .art-blockcontent a.visited
{
  color: #E2341D;
  font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
  text-decoration: none;
}

.art-blockcontent a:hover, .art-blockcontent a.hover
{
  color: #09BDDC;
  font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
  text-decoration: none;
}

.art-block ul>li:before
{
  content: url('../images/blockbullets.png');
  margin-right: 6px;
  bottom: 2px;
  position: relative;
  display: inline-block;
  vertical-align: middle;
  font-size: 0;
  line-height: 0;
  margin-left: -12px;
}

.opera .art-block ul>li:before
{
  bottom: 0;
}

.art-block li
{
  font-size: 14px;
  font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
  line-height: 175%;
  color: #597478;
  margin: 5px 0 0 10px;
}

.art-block ul>li, .art-block ol
{
  padding: 0;
}

.art-block ul>li
{
  padding-left: 12px;
}

.art-breadcrumbs
{
  margin: 0 auto;
}

a.art-button, a.art-button:link, a:link.art-button:link, body a.art-button:link, a.art-button:visited, body a.art-button:visited, input.art-button, button.art-button
{
  text-decoration: none;
  font-size: 14px;
  font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
  font-weight: normal;
  font-style: normal;
  position: relative;
  display: inline-block;
  vertical-align: middle;
  white-space: nowrap;
  text-align: center;
  color: #151E1E;
  margin: 0 !important;
  overflow: visible;
  cursor: pointer;
  text-indent: 0;
  line-height: 26px;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}

.art-button img
{
  margin: 0;
  vertical-align: middle;
}

.firefox2 .art-button
{
  display: block;
  float: left;
}

input, select, textarea
{
  vertical-align: middle;
  font-size: 14px;
  font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
  font-weight: normal;
  font-style: normal;
}

.art-block select
{
  width: 96%;
}

input.art-button
{
  float: none !important;
}

.art-button.active, .art-button.active:hover
{
  background: #46BBD2;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  padding: 0 21px;
  margin: 0 auto;
}

.art-button.active, .art-button.active:hover
{
  color: #0A2429 !important;
}

.art-button.hover, .art-button:hover
{
  background: #78CDDE;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  padding: 0 21px;
  margin: 0 auto;
}

.art-button.hover, .art-button:hover
{
  color: #1A2223 !important;
}

input[type="text"], input[type="password"], input[type="email"], input[type="url"], textarea
{
  background: #FFFFFF;
  border: 2px solid #C1CFD1;
  margin: 0 auto;
}

input[type="text"], input[type="password"], input[type="email"], input[type="url"], textarea
{
  width: 100%;
  padding: 8px 0;
  color: #364749 !important;
  font-size: 14px;
  font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
  font-weight: normal;
  font-style: normal;
}

input.art-error, textarea.art-error
{
  background: #FFFFFF;
  border: 1px solid #E2341D;
  margin: 0 auto;
}

input.art-error, textarea.art-error
{
  color: #364749 !important;
  font-size: 14px;
  font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
  font-weight: normal;
  font-style: normal;
}

form.art-search input[type="text"]
{
  background: #FFFFFF;
  border-radius: 0;
  border: 2px solid #C1CFD1;
  margin: 0 auto;
  width: 100%;
  padding: 8px 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  color: #364749 !important;
  font-size: 14px;
  font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
  font-weight: normal;
  font-style: normal;
}

form.art-search
{
  background-image: none;
  border: 0;
  display: block;
  position: relative;
  top: 0;
  padding: 0;
  margin: 5px;
  left: 0;
  line-height: 0;
}

form.art-search input
{
  top: 0;
  right: 0;
}

form.art-search>input
{
  bottom: 0;
  left: 0;
  vertical-align: middle;
}

form.art-search input[type="submit"]
{
  margin: 0 auto;
  color: #151E1E !important;
  position: absolute;
  display: block;
  left: auto;
  border: none;
  background: url('../images/searchicon.png') center center no-repeat;
  width: 24px;
  height: 100%;
  padding: 0;
}

label.art-checkbox:before
{
  background: #FFFFFF;
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;
  border-radius: 1px;
  margin: 0 auto;
  width: 16px;
  height: 16px;
}

label.art-checkbox
{
  cursor: pointer;
  font-size: 14px;
  font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
  font-weight: normal;
  font-style: normal;
  line-height: 16px;
  display: inline-block;
}

.art-checkbox>input[type="checkbox"]
{
  margin: 0 5px 0 0;
}

label.art-checkbox.active:before
{
  background: #78CDDE;
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;
  border-radius: 1px;
  margin: 0 auto;
  width: 16px;
  height: 16px;
  display: inline-block;
}

label.art-checkbox.hovered:before
{
  background: #B9E5EE;
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;
  border-radius: 1px;
  margin: 0 auto;
  width: 16px;
  height: 16px;
  display: inline-block;
}

label.art-radiobutton:before
{
  background: #FFFFFF;
  background: linear-gradient(top, #FFFFFF 0, #B4CBCA 100%) no-repeat;
  background: -webkit-linear-gradient(top, #FFFFFF 0, #B4CBCA 100%) no-repeat;
  background: -moz-linear-gradient(top, #FFFFFF 0, #B4CBCA 100%) no-repeat;
  background: -o-linear-gradient(top, #FFFFFF 0, #B4CBCA 100%) no-repeat;
  background: -ms-linear-gradient(top, #FFFFFF 0, #B4CBCA 100%) no-repeat;
  background: linear-gradient(top, #FFFFFF 0, #B4CBCA 100%) no-repeat;
  -svg-background: linear-gradient(top, #FFFFFF 0, #B4CBCA 100%) no-repeat;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  -webkit-box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.4);
  box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.4);
  border: 1px solid #2B9AB1;
  margin: 0 auto;
  width: 16px;
  height: 16px;
  display: inline-block;
  vertical-align: top;
  content: ' ';
}

label.art-radiobutton
{
  cursor: pointer;
  font-size: 14px;
  font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
  font-weight: normal;
  font-style: normal;
  line-height: 16px;
  display: inline-block;
  position: relative;
}

.art-radiobutton>input[type="radio"]
{
  vertical-align: baseline;
  margin: 0 5px 0 0;
}

label.art-radiobutton.active:before
{
  background: #78CDDE;
  background: linear-gradient(top, #A1DCE8 0, #4ABCD3 100%) no-repeat;
  background: -webkit-linear-gradient(top, #A1DCE8 0, #4ABCD3 100%) no-repeat;
  background: -moz-linear-gradient(top, #A1DCE8 0, #4ABCD3 100%) no-repeat;
  background: -o-linear-gradient(top, #A1DCE8 0, #4ABCD3 100%) no-repeat;
  background: -ms-linear-gradient(top, #A1DCE8 0, #4ABCD3 100%) no-repeat;
  background: linear-gradient(top, #A1DCE8 0, #4ABCD3 100%) no-repeat;
  -svg-background: linear-gradient(top, #A1DCE8 0, #4ABCD3 100%) no-repeat;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  -webkit-box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.4);
  box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.4);
  border: 1px solid #7B999D;
  margin: 0 auto;
  width: 16px;
  height: 16px;
  display: inline-block;
}

label.art-radiobutton.hovered:before
{
  background: #B9E5EE;
  background: linear-gradient(top, #E6F6F9 0, #88D3E2 100%) no-repeat;
  background: -webkit-linear-gradient(top, #E6F6F9 0, #88D3E2 100%) no-repeat;
  background: -moz-linear-gradient(top, #E6F6F9 0, #88D3E2 100%) no-repeat;
  background: -o-linear-gradient(top, #E6F6F9 0, #88D3E2 100%) no-repeat;
  background: -ms-linear-gradient(top, #E6F6F9 0, #88D3E2 100%) no-repeat;
  background: linear-gradient(top, #E6F6F9 0, #88D3E2 100%) no-repeat;
  -svg-background: linear-gradient(top, #E6F6F9 0, #88D3E2 100%) no-repeat;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  -webkit-box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.4);
  box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.4);
  border: 1px solid #7B999D;
  margin: 0 auto;
  width: 16px;
  height: 16px;
  display: inline-block;
}

label.art-radiobutton input[type="radio"]
{
  display: none;
}

label.art-radiobutton.art-checked:after
{
  content: url('../images/radiobuttonicon.png');
  position: absolute;
  line-height: 12px;
  left: 2px;
  top: 2px;
}

.art-post
{
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  padding: 3px;
  margin: 3px;
}

a img
{
  border: 0;
}

.art-article img, img.art-article, .art-block img, .art-footer img
{
  border: 1px solid #C1CFD1;
  margin: 7px 7px 7px 7px;
}

.art-metadata-icons img
{
  border: none;
  vertical-align: middle;
  margin: 2px;
}

.art-article table, table.art-article
{
  border-collapse: collapse;
  margin: 1px;
}

.art-post .art-content-layout-br
{
  height: 0;
}

.art-article th, .art-article td
{
  padding: 2px;
  border: solid 1px #7B999D;
  vertical-align: top;
  text-align: left;
}

.art-article th
{
  text-align: center;
  vertical-align: middle;
  padding: 7px;
}

pre
{
  overflow: auto;
  padding: 0.1em;
}

.preview-cms-logo
{
  border: 0;
  margin: 1em 1em 0 0;
  float: left;
}

.image-caption-wrapper
{
  padding: 7px 7px 7px 7px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.image-caption-wrapper img
{
  margin: 0 !important;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.image-caption-wrapper div.art-collage
{
  margin: 0 !important;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.image-caption-wrapper p
{
  font-size: 80%;
  text-align: right;
  margin: 0;
}

.art-postmetadataheader
{
  background: #D5E2E1;
  background: rgba(213, 226, 225, 0.5);
  margin: 0 auto;
  position: relative;
  z-index: 1;
  padding: 1px;
  margin-bottom: 5px;
}

.art-postheader
{
  color: #164F5A;
  margin: 5px 10px;
  font-size: 26px;
  font-family: Quicksand, Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
  font-weight: bold;
  font-style: normal;
}

.art-postheader a, .art-postheader a:link, .art-postheader a:visited, .art-postheader a.visited, .art-postheader a:hover, .art-postheader a.hovered
{
  font-size: 26px;
  font-family: Quicksand, Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
  font-weight: bold;
  font-style: normal;
}

.art-postheader a, .art-postheader a:link
{
  font-family: Quicksand, Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
  text-decoration: none;
  text-align: left;
  color: #2A97AC;
}

.art-postheader a:visited, .art-postheader a.visited
{
  font-family: Quicksand, Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
  text-decoration: none;
  text-align: left;
  color: #6F9095;
}

.art-postheader a:hover, .art-postheader a.hovered
{
  font-family: Quicksand, Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
  text-decoration: none;
  text-align: left;
  color: #2FA9C1;
}

.art-postheadericons, .art-postheadericons a, .art-postheadericons a:link, .art-postheadericons a:visited, .art-postheadericons a:hover
{
  font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
  color: #364749;
}

.art-postheadericons
{
  display: inline-block;
  padding: 1px;
  margin: 0 0 0 10px;
}

.art-postheadericons a, .art-postheadericons a:link
{
  font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
  text-decoration: none;
  color: #496968;
}

.art-postheadericons a:visited, .art-postheadericons a.visited
{
  font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
  font-weight: normal;
  font-style: normal;
  text-decoration: none;
  color: #496968;
}

.art-postheadericons a:hover, .art-postheadericons a.hover
{
  font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
  font-weight: normal;
  font-style: normal;
  text-decoration: underline;
  color: #237E90;
}

.art-postdateicon:before
{
  content: url('../images/postdateicon.png');
  margin-right: 6px;
  position: relative;
  display: inline-block;
  vertical-align: middle;
  font-size: 0;
  line-height: 0;
  bottom: auto;
}

.opera .art-postdateicon:before
{
  bottom: 0;
}

.art-postauthoricon:before
{
  content: url('../images/postauthoricon.png');
  margin-right: 6px;
  position: relative;
  display: inline-block;
  vertical-align: middle;
  font-size: 0;
  line-height: 0;
  bottom: auto;
}

.opera .art-postauthoricon:before
{
  bottom: 0;
}

.art-postprinticon:before
{
  content: url('../images/printButton.png');
  margin-right: 6px;
  bottom: 2px;
  position: relative;
  display: inline-block;
  vertical-align: middle;
  font-size: 0;
  line-height: 0;
}

.opera .art-postprinticon:before
{
  bottom: 0;
}

.art-postediticon:before
{
  content: url('../images/edit.png');
  margin-right: 6px;
  bottom: 2px;
  position: relative;
  display: inline-block;
  vertical-align: middle;
  font-size: 0;
  line-height: 0;
}

.opera .art-postediticon:before
{
  bottom: 0;
}

.art-postcontent ul>li:before, .art-post ul>li:before, .art-textblock ul>li:before
{
  content: url('../images/postbullets.png');
  margin-right: 6px;
  bottom: 2px;
  position: relative;
  display: inline-block;
  vertical-align: middle;
  font-size: 0;
  line-height: 0;
}

.opera .art-postcontent ul>li:before, .opera   .art-post ul>li:before, .opera   .art-textblock ul>li:before
{
  bottom: 0;
}

.art-postcontent li, .art-post li, .art-textblock li
{
  font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
  color: #111717;
  margin: 3px 0 0 11px;
}

.art-postcontent ul>li, .art-post ul>li, .art-textblock ul>li, .art-postcontent ol, .art-post ol, .art-textblock ol
{
  padding: 0;
}

.art-postcontent ul>li, .art-post ul>li, .art-textblock ul>li
{
  padding-left: 16px;
}

.art-postcontent ul>li:before, .art-post ul>li:before, .art-textblock ul>li:before
{
  margin-left: -16px;
}

.art-postcontent ol, .art-post ol, .art-textblock ol, .art-postcontent ul, .art-post ul, .art-textblock ul
{
  margin: 1em 0 1em 11px;
}

.art-postcontent li ol, .art-post li ol, .art-textblock li ol, .art-postcontent li ul, .art-post li ul, .art-textblock li ul
{
  margin: 0.5em 0 0.5em 11px;
}

.art-postcontent li, .art-post li, .art-textblock li
{
  margin: 3px 0 0 0;
}

.art-postcontent ol>li, .art-post ol>li, .art-textblock ol>li
{
  overflow: visible;
}

.art-postcontent ul>li, .art-post ul>li, .art-textblock ul>li
{
  overflow-x: visible;
  overflow-y: hidden;
}

blockquote
{
  background: #EDF1F2 url('../images/postquote.png') no-repeat scroll;
  padding: 10px 10px 10px 38px;
  margin: 0 0 0 10px;
  color: #0F1415;
  font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
  font-weight: normal;
  font-style: italic;
  text-align: left;
  overflow: auto;
  clear: both;
}

blockquote a, .art-postcontent blockquote a, .art-blockcontent blockquote a, .art-footer blockquote a, blockquote a:link, .art-postcontent blockquote a:link, .art-blockcontent blockquote a:link, .art-footer blockquote a:link, blockquote a:visited, .art-postcontent blockquote a:visited, .art-blockcontent blockquote a:visited, .art-footer blockquote a:visited, blockquote a:hover, .art-postcontent blockquote a:hover, .art-blockcontent blockquote a:hover, .art-footer blockquote a:hover
{
  color: #0F1415;
  font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
  font-weight: normal;
  font-style: italic;
  text-align: left;
}

blockquote p, .art-postcontent blockquote p, .art-blockcontent blockquote p, .art-footer blockquote p
{
  margin: 0;
  margin: 5px 0;
}

.art-footer
{
  background: #293638;
  border-top: 1px solid #C1CFD1;
  margin: 0 auto;
  position: relative;
  color: #B5E4ED;
  font-size: 14px;
  font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
  line-height: 175%;
  text-align: center;
  padding: 0;
}

.art-footer a, .art-footer a:link, .art-footer a:visited, .art-footer a:hover, .art-footer td, .art-footer th, .art-footer caption
{
  color: #B5E4ED;
  font-size: 14px;
  font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
  line-height: 175%;
}

.art-footer p
{
  padding: 0;
  text-align: center;
}

.art-footer a, .art-footer a:link
{
  color: #4EBED4;
  font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
  text-decoration: none;
}

.art-footer a:visited
{
  color: #648287;
  font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
  text-decoration: none;
}

.art-footer a:hover
{
  color: #09BDDC;
  font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
  text-decoration: underline;
}

.art-footer img
{
  border: 1px dotted #C1CFD1;
  margin: 7px;
}

.art-footer-inner
{
  margin: 0 auto;
  width: 1000px;
  padding: 8px;
  padding-right: 10px;
  padding-left: 10px;
}

.art-rss-tag-icon
{
  background: url('../images/footerrssicon.png') no-repeat scroll;
  margin: 0 auto;
  min-height: 32px;
  min-width: 32px;
  display: inline-block;
  text-indent: 35px;
  background-position: left center;
}

.art-rss-tag-icon:empty
{
  vertical-align: middle;
}

.art-footer ul>li:before
{
  content: url('../images/footerbullets.png');
  margin-right: 6px;
  bottom: 2px;
  position: relative;
  display: inline-block;
  vertical-align: middle;
  font-size: 0;
  line-height: 0;
  margin-left: -14px;
}

.opera .art-footer ul>li:before
{
  bottom: 0;
}

.art-footer li
{
  font-size: 14px;
  font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
  color: #EDF1F2;
}

.art-footer ul>li, .art-footer ol
{
  padding: 0;
}

.art-footer ul>li
{
  padding-left: 14px;
}

.art-page-footer, .art-page-footer a, .art-page-footer a:link, .art-page-footer a:visited, .art-page-footer a:hover
{
  font-family: Arial;
  font-size: 10px;
  letter-spacing: normal;
  word-spacing: normal;
  font-style: normal;
  font-weight: normal;
  text-decoration: underline;
  color: #ADBFC2;
}

.art-page-footer
{
  position: relative;
  z-index: auto !important;
  padding: 1em;
  text-align: center !important;
  text-decoration: none;
  color: #8CD5E3;
}

img.art-lightbox
{
  cursor: pointer;
}

#art-lightbox-bg *
{
  padding: 0;
  margin: 0;
}

div#art-lightbox-bg
{
  top: 0;
  left: 0;
  width: 100%;
  position: absolute;
  height: 100%;
  background-color: #000;
  opacity: 0.8;
  filter: alpha(opacity=80);
  z-index: 9999;
}

img.art-lightbox-image
{
  -webkit-transition: opacity 350ms ease-in-out;
  -moz-transition: opacity 350ms ease-in-out;
  -o-transition: opacity 350ms ease-in-out;
  -ms-transition: opacity 350ms ease-in-out;
  transition: opacity 350ms ease-in-out;
  cursor: pointer;
  z-index: 10000;
  position: fixed;
  border: 6px solid #fff;
  border-radius: 3px;
  opacity: 0;
  filter: alpha(opacity=0);
}

img.art-lightbox-image.active
{
  opacity: 1;
  filter: alpha(opacity=100);
}

.lightbox-error
{
  position: fixed;
  background: #fff;
  z-index: 100;
  opacity: 0.95;
  padding: 20px;
  border: 1px solid #b4b4b4;
  border-radius: 10px;
  box-shadow: 0 2px 5px #333;
  width: 300px;
  height: 80px;
}

.loading
{
  position: fixed;
  background: #fff url('../images/preloader-01.gif') center center no-repeat;
  width: 32px;
  height: 32px;
  z-index: 10100;
  opacity: 0.5;
  padding: 10px;
  border: 1px solid #b4b4b4;
  border-radius: 10px;
  box-shadow: 0 2px 5px #333;
}

.arrow
{
  height: 100px;
  width: 82px;
  z-index: 10003;
  position: fixed;
  cursor: pointer;
  opacity: 0.5;
  filter: alpha(opacity=50);
}

.arrow.left
{
  left: 9px;
}

.arrow.right
{
  right: 9px;
}

.arrow:hover
{
  opacity: 1;
  filter: alpha(opacity=100);
}

.arrow.disabled
{
  display: none;
}

.arrow-t, .arrow-b
{
  height: 6px;
  width: 30px;
  left: 26px;
  background-color: #fff;
  position: relative;
  border-radius: 3px;
}

.arrow-t
{
  top: 38px;
}

.arrow-b
{
  top: 50px;
}

.close
{
  width: 22px;
  height: 22px;
  position: fixed;
  top: 30px;
  right: 39px;
  cursor: pointer;
  opacity: 0.5;
  filter: alpha(opacity=50);
}

.close:hover
{
  opacity: 1;
  filter: alpha(opacity=100);
}

.close .cw, .close .ccw
{
  position: absolute;
  top: 8px;
  left: -4px;
  width: 30px;
  height: 6px;
  background-color: #fff;
  border-radius: 3px;
}

.cw
{
  transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
}

.ccw
{
  transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
}

.close-alt, .arrow-right-alt, .arrow-left-alt
{
  display: none;
  color: #fff;
  font-size: 2.5em;
}

.ie8 .close-alt, .ie8 .arrow-right-alt, .ie8 .arrow-left-alt
{
  display: block;
}

.ie8 .cw, .ie8 .ccw
{
  display: none;
}

.art-content-layout .art-sidebar1
{
  margin: 0 auto;
  width: 200px;
}

.art-content-layout .art-content
{
  margin: 0 auto;
}

table.moduletable th
{
  font-size: 140%;
  padding: .5em 0em;
}

.firefox2 table.poll tr td div
{
  font-size: 0;
}

#footer
{
  text-align: center;
}

.contentpaneopen span.small, .contentpaneopen td.createdate, .contentpaneopen td.modifydate
{
  font-size: 75%;
  padding-bottom: 1em;
}

.column_separator
{
  padding-left: .4em;
}

div.offline
{
  background: #fffebb;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  font-size: 1.2em;
  padding: 5px;
}

table.moduletable th, legend
{
  margin: 0;
  font-weight: bold;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 1.5em;
  padding-left: 0px;
  margin-bottom: 10px;
  text-align: left;
}

.invalid
{
  border-color: #ff0000;
}

label.invalid
{
  color: #ff0000;
}

.ol-foreground
{
  background-color: #f6f6f6;
}

.ol-background
{
  background-color: #666;
}

.ol-textfont
{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10px;
}

.ol-captionfont
{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  color: #f6f6f6;
  font-weight: bold;
}

.ol-captionfont a
{
  color: #0B55C4;
  text-decoration: none;
  font-size: 12px;
}

span.article_separator
{
  display: none;
}

.column_separator
{
  padding-left: 10px;
}

td.buttonheading img
{
  border: none;
}

.clr
{
  clear: both;
}

div#maindivider
{
  border-top: 1px solid #ddd;
  margin-bottom: 10px;
  overflow: hidden;
  height: 1px;
}

table.blog span.article_separator
{
  display: none;
}

.contentpaneopen_edit
{
  float: left;
}

table.contenttoc
{
  margin: 5px;
  border: 1px solid #ccc;
  padding: 5px;
  float: right;
}

table.contenttoc td
{
  padding: 0 5px;
}

td.sectiontableheader
{
  background: #efefef;
  color: #333;
  font-weight: bold;
  padding: 4px;
  border-right: 1px solid #fff;
}

tr.sectiontableentry0 td, tr.sectiontableentry1 td, tr.sectiontableentry2 td
{
  padding: 4px;
}

td.sectiontableentry0, td.sectiontableentry1, td.sectiontableentry2
{
  padding: 3px;
}

table.contentpaneopen, table.contentpane
{
  margin: 0;
  padding: 0;
  width: auto;
}

table.contentpaneopen li
{
  margin-bottom: 5px;
}

table.contentpaneopen fieldset
{
  border: 0;
  border-top: 1px solid #ddd;
}

table.contentpaneopen h3
{
  margin-top: 25px;
}

table.contentpaneopen h4
{
  font-family: Arial, Helvetica, sans-serif;
  color: #333;
}

.highlight
{
  background-color: #fffebb;
}

table.user1user2 div.moduletable
{
  margin-bottom: 0px;
}

div.moduletable, div.module
{
  margin-bottom: 25px;
}

div.module_menu h3
{
  font-family: Helvetica, Arial, sans-serif;
  font-size: 12px;
  font-weight: bold;
  color: #eee;
  margin: -23px -4px 5px -5px;
  padding-left: 10px;
  padding-bottom: 2px;
}

div.module_menu
{
  margin: 0;
  padding: 0;
  margin-bottom: 15px;
}

div.module_menu div div div
{
  padding: 10px;
  padding-top: 30px;
  padding-bottom: 15px;
  width: auto;
}

div.module_menu div div div div
{
  background: none;
  padding: 0;
}

div.module_menu ul
{
  margin: 10px 0;
  padding-left: 20px;
}

div.module_menu ul li a:link, div.module_menu ul li a:visited
{
  font-weight: bold;
}

#leftcolumn div.module
{
  padding: 0 10px;
}

#leftcolumn div.module table
{
  width: auto;
}

table.adminform textarea
{
  width: 540px;
  height: 400px;
  font-size: 1em;
  color: #000099;
}

div.search input
{
  width: 95%;
  border: 1px solid #ccc;
  margin: 5px 0 5px 0;
}

.art-nav div.search input
{
  width: auto;
}

form#com-form-login
{
  text-align: left;
}

form#com-form-login fieldset
{
  border: 0 none;
  margin: 0;
  padding: 0.2em;
}

form#com-form-login ul
{
  list-style-type: none;
  margin: 0;
  padding: 0;
}

form#com-form-login ul li
{
  background-image: none;
  padding: 0;
}

div.mosimage
{
  margin: 5px;
}

div.mosimage_caption
{
  font-size: .90em;
  color: #666;
}

div.caption
{
  padding: 0 10px 0 10px;
}

div.caption img
{
  border: 1px solid #CCC;
}

div.caption p
{
  font-size: .90em;
  color: #666;
  text-align: center;
}

table.paramlist
{
  margin-top: 5px;
}

table.paramlist td.paramlist_key
{
  width: 128px;
  text-align: left;
  height: 30px;
}

div.message
{
  font-weight: bold;
  font-size: 14px;
  color: #c30;
  text-align: center;
  width: auto;
  background-color: #f9f9f9;
  border: solid 1px #d5d5d5;
  margin: 3px 0px 10px;
  padding: 3px 20px;
}

.banneritem img
{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.banneritem_text
{
  padding: 4px;
  font-size: 11px;
}

.bannerfooter_text
{
  padding: 4px;
  font-size: 11px;
  background-color: #f7f7f7;
  text-align: right;
}

.pollstableborder
{
  margin-top: 8px;
}

.pollstableborder td
{
  text-align: left;
}

span.description
{
  display: block;
  padding-left: 30px;
}

fieldset
{
  border: 1px solid #ccc;
  margin-top: 15px;
  padding: 15px;
}

legend
{
  margin: 0;
  padding: 0 10px;
}

td.key
{
  border-bottom: 1px solid #eee;
  color: #666;
}

.tool-tip
{
  float: left;
  background: #ffc;
  border: 1px solid #d4d5aa;
  padding: 5px;
  max-width: 200px;
}

.tool-title
{
  padding: 0;
  margin: 0;
  font-size: 100%;
  font-weight: bold;
  margin-top: -15px;
  padding-top: 15px;
  padding-bottom: 5px;
  background: url(../../system/images/selector-arrow.png) no-repeat;
}

.tool-text
{
  font-size: 100%;
  margin: 0;
}

#syndicate
{
  float: left;
  padding-left: 25px;
}

#component-contact table td
{
  padding: 2px 0;
}

.breadcrumbs img
{
  margin: 0px;
  padding: 0px;
  border: 0px;
}

.mceToolbarTop
{
  white-space: normal;
}

.mceEditor
{
  background: none;
}

#archive-list
{
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}

#archive-list li
{
  list-style-type: none;
  background-image: none;
  margin-left: 0px;
  padding-left: 0px;
}

#navigation, #navigation p
{
  text-align: center;
}

.article h3 img
{
  border: none;
  display: inline;
  margin: 0;
  padding: 0;
}

.art-footer-text .moduletable
{
  border: none;
  margin: 0;
  padding: 0;
}

.pollstableborder td
{
  vertical-align: middle;
}

.img_caption.left
{
  float: left;
  margin-right: 1em;
}

.img_caption.right
{
  float: right;
  margin-left: 1em;
}

.img_caption.left p
{
  clear: left;
  text-align: center;
}

.img_caption.right p
{
  clear: right;
  text-align: center;
}

.img_caption img
{
  margin: 0em;
}

#system-message ul li
{
  background-image: none;
  padding-left: 0px;
}

.pagination
{
  margin: 0;
  padding: 0;
  text-align: center;
}

.pagination span
{
  margin: 0;
  padding: 0;
}

.pagination a
{
  padding: 2px;
}

.pagenav
{
  width: 100%;
}

.pagenav td, .pagenav th
{
  border: none;
  font-weight: normal;
}

#form-login fieldset.input
{
  border: none;
  margin: 0;
  padding: 0;
}

#form-login br
{
  display: none;
}

#form-login p
{
  margin: 0.5em 0 0 0;
}

#form-login #form-login-username label, #form-login #form-login-password label
{
  display: block;
}

#form-login #form-login-remember input
{
  margin: 0;
  padding: 0;
  vertical-align: bottom;
  position: relative;
  top: -1px;
}

#form-login #modlgn_username, #form-login #modlgn_passwd
{
  width: 95%;
  margin: 0;
  padding: 0;
}

#form-login ul
{
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#form-login ul li
{
  background-image: none;
  padding: 0;
}
